.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 60px;
    background-color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
    height: 100%;
    max-height: 50px;
    width: auto;
    object-fit: contain;
}